body{
        margin:50px;
        font: 75% georgia, sans-serif;
	      color: #555753; 
      	}
    h1{
        text-align:center;
        padding-bottom:30px;}
    
    .headers{
        display: flex;
        justify-content: space-between;
        margin-bottom:-20px; 
        border-top: 1px solid rgb(222, 222, 222);         
        }
    .headers2{
        display: flex;
        justify-content: space-between;
        margin-top:-20px;
        border-bottom: 1px solid rgb(222, 222, 222);
        }
    .pics{
       text-align:center;
        }
    a:link{color:black;}
    a:visited{color:black;}
