.title {
  background-color: rgb(85,87,83);
  color: white;
  position: sticky;
  top:0px;
  padding-left:150px;
  padding-top:15px;
  padding-bottom:1px;
  margin-bottom:10px;
  margin-left:-150px;
  margin-right:-150px;
 }

#quote{
  color:red;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:25px;
  padding-bottom:25px;

}

.main {
  margin-top: 0px; 
}


body{
  margin:50px;
  margin-left:150px;
	margin-right:150px;
  font: 75% georgia, sans-serif;
	color: #555753; 
      	}
    h1{
        text-align:left;
        }

    .headers{
        border-top: 1px solid rgb(222, 222, 222);
        border-bottom: 1px solid rgb(222, 222, 222);
    }


    .pics{
       text-align:center;
       padding-top:50px;
       padding-bottom:50px;
        }
  
    a:link{color:black;}
    a:visited{color:black;}
